# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.gh-pages/

# vite cache
.vite/
node_modules/.vite/
node_modules/.cache/

# env files
.env
.env.*
*.local

# editor/system
.vscode/
.DS_Store
